
/* The "Forgot password" text */
span.psw {
  float: center;
  padding-top: 10px;
}
div.container{
    margin: auto;
    overflow: hidden;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
/* Set a style for all buttons */
button {
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
body{
    background-color: #f0f8ff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}
